@using TestApplication.Models

@model TestApplication.Models.LannistersViewModel
@{
    ViewBag.Title = "Table";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#filterBy")
      .change(function () {
          $("#filterBy option").each(function () {
              $("input").prop("hidden", true);
          });
          $("#filterBy option:selected").each(function () {
              //if ($(this).val() == "id") {
              //    $("#searchById").prop("hidden", false);
              //}
              if ($(this).val() == "Title") {
                  $("#searchByTitle").prop("hidden", false);
              }
              if ($(this).val() == "Parent") {
                  $("#searchByParent").prop("hidden", false);
              }
              if ($(this).val() == "Created") {
                  $("#searchByDateFrom").prop("hidden", false);
                  $("#searchByDateTo").prop("hidden", false);
              }
              if ($(this).val() == "Id") {
                  $("#searchById").prop("hidden", false);
              }
              if ($(this).val() == "Description") {
                  $("#searchByDescription").prop("hidden", false);
              };
          });
      })
    });
</script>
<div class="container">
    <div>
        @Html.Label("Sort by:")
        @using (Html.BeginForm())
        {
        @Html.DropDownList("orderBy", new PropertySorter().Properties, new { onchange = "this.form.submit();" })
        @Html.CheckBox("orderByDescending", false, new { onchange = "this.form.submit();" })
        @Html.DropDownList("thenBy",new PropertySorter().Properties, new { onchange = "this.form.submit();" })
        @Html.CheckBox("thenByDescending", false, new { onchange = "this.form.submit();" })
        }

    </div>
    <div>
        @Html.Label("Filter by:")
        @using (Html.BeginForm())
        {
        @Html.DropDownList("filterBy", new PropertySorter().Properties)
        <div>
            @Html.TextBox("searchById", 0, new {hidden = true })
            @Html.TextBox("searchByTitle", "", new { hidden = true })
            @Html.TextBox("searchByDescription", "", new { hidden = true })
            @Html.TextBox("searchByDateFrom", "", new { hidden = true })
            @Html.TextBox("searchByDateTo", "", new { hidden = true })
            @Html.TextBox("searchByParent", "", new { hidden = true })
        </div>
        }
    </div>
    <h2>Lannisters</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Parent</th>
                <th>Created</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Lannisters)
            {
                <tr>
                    <td>@line.Id</td>
                    <td>@line.Title</td>
                    <td>@line.Parent</td>
                <td>@line.Created</td>
                <td>@line.Description</td>
            </tr>
            }
        </tbody>
    </table>

</div>


